<h1>Admin::Dashboard#show</h1>
<%#TODO Try to make it look nicer. Use Bootstrap 3 elements. %>
<%#TODO Link to the product and category admin list/index pages when displaying the counts.  %>
Product count: <%= @number_of_products %><br>
Category count: <%= @number_of_categories %>
